
.hero {
	background: url(sandiegowavesfade.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1 {
	font-family: "Brush Script MT", cursive;
	font-weight: 600; 
	text-align: center;
	color: #11266C;
	font-size: 80px
}


body {
  text-align: center;
  color: #11266C;
  font-family: Georgia, Times, “Times New Roman”, serif;;

	}


#slogan {
	font-weight: 300;
	color: #11266C;
	font-style: italic
	text-align: center;
	font-family: verdana, Helvetica, sans-serif;

}

.content {
	font-weight:100
	color: #11266c;
	font-style: normal;
	text-align: left;

}

hr {
  width: 200px;
}
p {
  font-size: 22px;
}
