
html, body {
	margin: 0px;
	width: 100%;
	height: 100%;
	font:"Trebuchet MS";
}
#homebg {
	width: 100%;
	height: 100%;
	background: url(sandiegowavesfade.jpg) no-repeat center center fixed;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-attachment : fixed;
}



h1 {
	font-family: "Brush Script MT", cursive;
	font-weight: 600; 
	text-align: center;
	color: #11266C;
	font-size: xx-large
}




#slogan {
	font-weight: 300;
	color: #11266C;
	font-style: italic;
	text-align: center;
	font-family: font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	font-size: 40px;

}

.content {
	font-weight:100
	color: #11266c;
	font-style: normal;
	text-align: left;
	font-size: 20px;
	font-family: font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;

}

#contact {
	font-weight:100
	color: #11266c;
	font-style: normal;
	text-align: center;
	font-size: 15px;
	font-family: font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;

}


hr {
  width: 200px;
}

